<div class="container">
    <div class="row">
    <div class="col-lg-10 col-md-8">
      <h4 class="mb-3">メッセージを送る</h4>
      <% if @users.present? %>
        <%= render 'public/users/user', users: @users %>
      <% else %>
        フォロー中のユーザーがいません
      <% end %>
    </div>
  </div>
</div>