<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <h2>About</h2>
      <p class="text-center">
        「16Personalities性格診断テスト」は93の質問に答えることで、<br>
        興味の方向性や外界への接し方などから16種類の性格に分類されます。<br>
        16種類の性格については以下をご確認ください。
      </p>
      <p class="text-center">
        また、「16Personalities性格診断テスト」は実際にはMBTIではありませんが、<br>
        分かりやすくするためにMBTIとしています。<br>
        より深く自分の行動や判断の方向性について知りたい方は<br>
        ソシオニクス<br>
        や<br>
        心理機能診断<br>
        を試してみると良いかもしれません。
      </p>
      <%= image_tag 'analyst.png', width: '100%', height: '500', style: "object-fit: contain;" %>
      <%= image_tag 'diplomat.png', width: '100%', height: '500', style: "object-fit: contain;" %>
      <%= image_tag 'watchman.png', width: '100%', height: '500', style: "object-fit: contain;" %>
      <%= image_tag 'explorer.png', width: '100%', height: '500', style: "object-fit: contain;" %>
    </div>
  </div>
</div>