<table class="table table-bordered">
  <thead>
    <tr>
      <th>ユーザーID</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th>いいねされた数</th>
      <th>ライセンス</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <% if user.is_deleted == false %>
          <td class="text-success">有効</td>
        <% else %>
          <td class="text-secondary">退会</td>
        <% end %>
        <% user_posts = user.posts %>
        <% favorites = 0 %>
        <% user_posts.each do |user_post| %>
          <% favorites += user_post.favorites.count %>
        <% end %>
        <td><%= favorites %></td>
        <% if user.is_license == false %>
          <td>なし</td>
        <% else %>
          <td>認証済み</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>