- if put.favorited_by?(current_user)
  = link_to post_favorites_path(put), method: :delete, remote: true do
    %i.fa-solid.fa-heart.text-danger.text-decoration-none
  = put.favorites.count
- else
  = link_to post_favorites_path(put), method: :post, remote: true do
    %i.fa-regular.fa-heart.text-danger.text-decoration-none
  = put.favorites.count