@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-jpg{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

:root {
  --swiper-navigation-color: #000;
  --swiper-pagination-color: #000;
}

.button{
  position: fixed;
  right: 50px;
  bottom: 50px;
}


.ballon-right{
  position: relative;
  display: inline-block;
  margin: 1.5em 0 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  background: #e0edff;
  border-radius: 15px;
}

.ballon-right:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.ballon-left{
  position: relative;
  display: inline-block;
  margin: 1.5em 0 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  background: #e0edff;
  border-radius: 15px;
}

.ballon-left:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.three-point{
  position: relative;
}

.three-point-content{
  position: absolute;
  top: 200px;
  right: 0;
  background: #fff;
}

.three-point-contents{
  position: absolute;
  top: 100px;
  right: 0;
  background: #fff;
}

.is-active{
  display: none;
}

footer{
  margin-top: auto;
}

.search-text{
  -webkit-appearance: none;
  width: 80px;
  height: 60px;
  padding: 20px;
  border: none;
  background: #fff;
  background-size: 25px 25px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
}

.search-text:focus{
  width: 250px;
  padding: 20px 0 20px 60px;
  box-shadow: 0 2px rgba(6,0,1,.26);
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
}

html{
  position: relative;
}

#zoomback{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  display: none;
}

.zooming{
  width: 50%;
}

.field{
  position: fixed;
  width: 50%;
  bottom: 100px;
}