<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <% if @tag.present? %>
        "<%= @tag.name %>"の投稿
      <% else %>
        "<%= @keyword %>"の投稿一覧
      <% end %>
      (<%= @posts.count %>件)
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>