<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <% if @tag.present? %>
        "<%= @tag.name %>"の投稿一覧
      <% else %>
        "<%= @keyword %>"の投稿一覧
      <% end %>
      <%= render 'public/posts/index', posts: @posts %>
      <% if @posts.count > 10 %>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>