.container
  .row
    .col-lg-10.col-md-8
      %h3 通報一覧
      - if @reports.present?
        %table.table.table-bordered
          %thead
            %tr
              %th 通報ID
              %th コンテンツ
              %th 非通報者
              %th 通報者
              %th 確認
          %tbody
            - @reports.each do |report|
              %tr
                %td= link_to report.id, admin_report_path(report)
                %td= report.content_i18n
                %td= link_to report.reported.name, admin_user_path(report.reported)
                %td= link_to report.reporter.name, admin_user_path(report.reporter)
                - if report.is_checked == true
                  %td 確認済み
                - else
                  %td 未確認