<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10">
      <% if @notifications.present?  %>
        <%= render 'public/notifications/index', notification: @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>