<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <h3>いいね</h3>
      <% if @posts.present? %>
        <%= render 'public/posts/index', posts: @posts %>
      <% else %>
        <p>いいねした投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>