<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <% @users.each do |user| %>
        <%= link_to user_path(pos.user) do %>
          <%= image_tag user.get_profile_image(100, 100), class: 'rounded-circle' %>
        <% end %>
        <%= link_to user.name, user_path(user) %>
        <%= link_to "chat",chat_path(user) %>
      <% end %>
    </div>
  </div>
</div>