<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <h3>お気に入り</h3>
      <% if @posts.present? %>
        <%= render 'public/posts/index', posts: @posts %>
        <%= paginate @posts %>
      <% else %>
        <p>お気に入りした投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>