%footer.footer.mt-auto
  .container-fluid.bg-dark.d-flex.align-items-center.justify-content-center
    %span.text-center.text-light Copyright © maruri
    %span#back
      %a{href: '#'}
        %i.fa-solid.fa-circle-arrow-up

  :css
    .d-flex{
      height: 50px;
    }
  :javascript
    $(function(){
      $('#back a').on('click', function(event){
        $('body, html').animate({
          scrollTop:0
        }, 800);
        event.preventDefault();
      });
    });