<footer class="footer mt-auto">
  <div class="container-fluid bg-dark d-flex align-items-center justify-content-center" style="height: 50px;">
    <span class="text-light">Copyright © maruri</span>
  </div>
</footer>